<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/taksUser.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h2><%= tarefa.nome_tarefa %></h2>
            </div>
        </article>
        <div>
            <div class="container_tasks">
                <div>
                    <label>Descrição:‎ ‎ 
                        <input type="text" value="<%= tarefa.descricao_tarefa %>">
                    </label>
                </div>
                <div>
                    <label>Condominio:‎ ‎ 
                        <input type="text" value="<%= tarefa.condominio %>">
                    </label>
                </div>
                <div>
                    <label>Estado: ‎ ‎ 
                        <select>
                            <option <%= tarefa.concluido === 1 ? 'selected' : '' %> value="Concluido">Concluido</option>
                            <option <%= tarefa.concluido === 0 ? 'selected' : '' %> value="Incompleto">Incompleto</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Justificativa:‎ ‎ 
                        <input type="text" name="" value="<%= tarefa.justifica %>">
                    </label>
                </div>
                <div>
                    <label>Hora criada:‎ ‎ 
                        <input type="text" value="<%= tarefa.hora_da_tarefa %>">
                    </label>
                </div>
                <div>
                    <label>Data de criação:‎ ‎ 
                        <input type="text" value="<%= tarefa.dia_da_tarefa %>">
                    </label>
                </div>
                <div class="div_buttons">
                    <a href="/tarefas/<%= tarefa.id_usuario %>"><button class="bt_voltar">Voltar</button></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>