<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/taksUser.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>

        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h1>Tarefa: <%= tarefa.nome_tarefa %></h1>
            </div>
        </article>
        
        <form action="/atualizarTarefaUser/<%= tarefa.id_tarefa %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="container_tasks">
                <input type="text" value="<%= tarefa.nome_tarefa %>" name="nome_tarefa" style="display: none;">
                    <div>
                        <h3>Descrição: <%= tarefa.descricao_tarefa %></h3>
                        <input type="text" name="descricao" value="<%= tarefa.descricao_tarefa %>" style="display: none;">
                    </div>
                    <div>
                        <h3>Dia da semana: <%= tarefa.dia_semana %></h3>
                        <input type="text" name="dia" value="<%= tarefa.dia_semana %>" style="display: none;">
                    </div>
                    <div>
                        <h3>Condominio: <%= tarefa.condominio %></h3>
                        <input type="text" value="<%= tarefa.condominio %>" style="display: none;">
                    </div>
                    <div>
                        <label>Estado: ‎ ‎ 
                            <select name="concluido" id="">
                                <option> </option>
                                <option value="1">Concluido</option>
                                <option value="0">Incompleto</option>
                            </select>
                        </label>
                    </div>
                    <div>
                        <label class="justificativa_class">Justificativa: ‎ ‎ </label>
                        <textarea type="text" name="justificativa"></textarea>
                    </div>
                    <div>
                        <label>Hora criada: ‎ ‎  
                            <input type="text" value="<%= tarefa.hora_da_tarefa %>">
                        </label>
                    </div>
                    <div>
                        <label>Data de criação: ‎ ‎  
                            <input type="text"value="<%= tarefa.dia_da_tarefa %>">
                        </label>
                    </div>
                <div class="div_buttons">
                    <a class="link_voltar" href="/paginainicial"><button class="bt_voltar">Voltar</button></a>
                    <button class="bt_enviar" type="submit">Atualizar Tarefa</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <p>Agillité Services 2023</p>
        </div>
    </footer>
</body>
</html>