<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/taksUser.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h1>Nome da Tarefa: <%= tarefa.nome_tarefa %></h1>
            </div>
        </article>
       

        <form action="" method="post" enctype="application/x-www-form-urlencoded">
            <div class="container_editTask">
                <div class="form_NewTask">
                    
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Dia da semana</label>
                        <input name="nome_tarefa" type="text" class="form-input"  value="<%= tarefa.dia_semana %>" disabled>
                    </div>
        
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Nome da Tarefa</label>
                        <input name="nome_tarefa" type="text" class="form-input" value="<%= tarefa.nome_tarefa %>" disabled>
                    </div>
        
                    <div class="form-row">
                        <label for="descricao" class="form-label">Descrição da Tarefa</label>
        
                        <textarea name="descricao" id="" cols="30" rows="10" class="form-input" disabled><%= tarefa.descricao_tarefa %></textarea>
                    </div>
        
                    <div class="form-row">
                        <label for="condominio" class="form-label">Nome do condominio</label>
                        <input name="condominio" type="text" class="form-input" value="<%= tarefa.condominio %>" disabled>
                    </div>
                </div>
                <div class="form-row-button">
                    <a href="/paginainicial"><button type="button" class="myButton">Voltar</button></a>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <p>Agillité Services 2023</p>
        </div>
    </footer>
</body>
</html>