<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/taksUser.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <img class="logo_painel_admin" src="../public/image/Logo.png" alt="logo da empresa">
        <article>
            <div class="subtitulo_painel_admin">
                <h2><%= tarefa.nome_tarefa %></h2>
            </div>
        </article>
        
            <div class="container_editTask">
                <div class="form_NewTask">
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Selecione o dia da semana:</label>
                        <input name="nome_tarefa" type="text" class="form-input" value="<%= tarefa.dia_semana %>" disabled>
                    </div>
        
                    <div class="form-row">
                        <label for="nome_tarefa" class="form-label">Nome da Tarefa</label>
                        <input name="nome_tarefa" type="text" class="form-input" value="<%= tarefa.nome_tarefa %>" disabled>
                    </div>
        
                    <div class="form-row">
                        <label for="descricao" class="form-label">Descrição da Tarefa</label>
        
                        <textarea name="descricao" id="" cols="30" rows="10" class="form-input" disabled> <%= tarefa.descricao_tarefa %></textarea>
                    </div>
        
                    <div class="form-row">
                        <label for="condominio" class="form-label">Nome do condominio</label>
                        <input name="condominio" type="text" class="form-input" value="<%= tarefa.condominio %>" disabled>
                    </div>
        
                    <div class="form-row" style="display: none;">
                        <label for="condominio" class="form-label">Tarefa concluida</label>
                        <input name="concluido" style="display: none;" type="text" class="form-input" disabled>
                    </div>
        
                    <div class="form-row" style="display: none;">
                        <label for="justificativa" class="form-label">Justificativa?</label>
                        <input name="justificativa" style="display: none;" type="text" class="form-input" disabled>
                    </div>
        
                    <div class="form-row" style="display: none;">
                        <label for="justificativa" class="form-label">Selecione o dia?</label>
                        <input name="dia_da_tarefa" id="Dia_da_tarefa" style="display: none;" type="text" class="form-input" disabled>
                    </div>
        
                    <div class="form-row" style="display: none;">
                        <label for="justificativa" class="form-label">Informe o horário:</label>
                        <input name="horario_tarefa" id="Horario_tarefa" type="text" style="display: none;" class="form-input">
                    </div>
                </div>
                <div class="form-row-button">
                    <a href="/tarefas/<%= tarefa.id_usuario %>"><button class="myButton">Voltar</button></a>
                </div>
            </div>

            <script>
                // Bloqueia a ação de impressão quando a página é carregada
                window.addEventListener("beforeprint", function (e) {
                e.preventDefault();
                alert("A impressão está desativada para esta página.");
                });
        
                // Bloqueia a ação de impressão quando o usuário pressiona Ctrl + P ou Cmd + P (atalho de impressão)
                window.addEventListener("keydown", function (e) {
                if ((e.ctrlKey || e.metaKey) && e.keyCode === 80) {
                    e.preventDefault();
                    alert("A impressão está desativada para esta página.");
                }
                });
        
                window.addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                });
            </script>
    </main>
</body>
</html>